<div class="weather-icon">
    <img src="http://l.yimg.com/a/i/us/we/52/{code}.gif">
    
</div>
<div class="weather-desc">
    <div class="tmp">
        {temp}ºC
    </div>
    <h4>{condition}</h4>
    <span><strong>Độ ẩm: </strong>{humidity}%</span> <span><strong>Tầm nhìn: </strong>{visibility}km</span>
    <span><strong>Gió: </strong>{speed}km/h</span>
</div>
<div class="source">
    <span>Nguồn:</span><a href="https://weather.yahoo.com/" target="_blank">https://weather.yahoo.com/</a>
</div>
<div class="date">
    Cập nhật lúc: {updatedTime}
</div>